GLFW_ICON ICON "space_invaders.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
	//BLOCK "080904E4" 	// English UK
    BLOCK "040904E4"	// English US
    BEGIN
	  VALUE "CompanyName", "Ira Theobold"
      VALUE "FileDescription", "Space invaders Clone | my cool new space invadersclone in C and Raylib"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "space_invaders"
      VALUE "LegalCopyright", "(c) 2024 Ira Theobold"
      //VALUE "OriginalFilename", "space_invaders.exe"
      VALUE "Space invaders Clone", "Space invaders Clone"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
	//VALUE "Translation", 0x809, 1252	// English UK
    VALUE "Translation", 0x409, 1252	// English US
  END
END
